
    /* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
    .nav-links ul li{
        display: block;
      }
    .nav-links {
        position: absolute;
        background:darkgreen;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
      }

    .nav img{
        display: none;
    }

    .home-text h1 {
        font-size: 10px;
    }
    .about-container {
        flex-direction: column;
    }

    .contact-container {
        position: relative;
        display:grid;
        grid-template-columns: 1fr ;
        grid-template-rows: auto;
        grid-template-areas: 
        "form"
        "map"
        "info";
      }

}

    /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .}

    /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .}

    /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .}

    /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}