/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");



body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
  z-index: 100000;
}

header.sticky{
  padding-top: 5px;
  background-color: white;
}

.nav-links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-links li{
  position: relative;
  list-style: none;
}

.nav-links li a {
  position: relative;
  margin: 0 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration-color: rgb(205, 145, 15);
  font-weight: bold;
  transition: 0.6s;
}
.nav-links li a:hover {
  color: rgb(205, 145, 15);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(205, 145, 15);
}

header.sticky .nav-links li a{
  color: black;
}
header.sticky .nav-links li a:hover{
  color: rgb(19, 79, 9);
  text-decoration: none; 
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(img/CMT\ Business\ Card.png);
  background-size: cover;
  background-position: center;
}
/* HOME SECTION */
#home{
  position: relative;
}
.home-btn {
  border-radius: 1rem;
  border: rgba(53, 53, 53, 0) 0.1rem solid;
  background-color: rgb(230, 175, 25);
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 1rem;
  width: 15rem;
  position: absolute;
  align-self: center;
  top: 72vh;
 

}
.home-btn:hover {
  border: rgb(53, 53, 53) 0.1rem solid;
  background-color: rgba(230, 175, 25, 0.61);
  color: rgba(255, 255, 255, 0.61);
}

/* ABOUT SECTION */

#about {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: fit-content;
}

.about-container{
  display: flex;
}
.about-pic {
  height:auto;
  width: 500px;

}
.about-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction:column;
}

.about__text__p1 {
  color: rgb(4, 65, 4);
  font-size: 20x;
  margin-bottom: 0;
  display: flex;
  justify-content: left;
  margin-top: 5rem;
  margin-left: 2rem;
}
.about__title {
  font-size: 40px;
  color: rgb(4, 65, 4);
  margin-top: 0;
  justify-content: left;
  margin-left: 2rem;

}
.about__text-p2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  flex-direction:column;
  color:black;
  margin-left: 2rem;
  margin-bottom: 3rem;
}



/*services*/
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 10px;
  text-shadow: 3px 3px #07390b;
}

.item-1 {
  background-image:linear-gradient(
    rgba(15, 80, 19, 0.5),
    rgba(15, 80, 19, 0.5)
  ), url(img/Service\ Icons/knitting\ machine.jpeg);
  height: 200px;
  width: 200x;
}
.item-2 {
  background-image:linear-gradient(
    rgba(205, 145, 15, 0.5),
    rgba(205, 145, 15, 0.5)
  ), url(img/Service\ Icons/dyeing\ machine.jpeg);
  height: 200px;
  width: 200x;
}

.item-3 {
  background-image:linear-gradient(
    rgba(15, 80, 19, 0.5),
    rgba(15, 80, 19, 0.5)
  ), url(img/Service\ Icons/knitting\ machine.jpeg);
  height: 200px;
  width: 200x;
}

.item-4 {
  background-image:linear-gradient(
    rgba(205, 145, 15, 0.5),
    rgba(205, 145, 15, 0.5)
  ), url(img/Service\ Icons/dyeing\ machine.jpeg);
  height: 200px;
  width: 200x;
}

.item-5 {
  background-image:linear-gradient(
    rgba(15, 80, 19, 0.5),
    rgba(15, 80, 19, 0.5)
  ), url(img/Service\ Icons/knitting\ machine.jpeg);
  height: 200px;
  width: 200x;
}

.item-6 {
  background-image:linear-gradient(
    rgba(205, 145, 15, 0.5),
    rgba(205, 145, 15, 0.5)
  ), url(img/Service\ Icons/washing\ machine.jpeg);
  height: 200px;
  width: 200x;
}

/* BRAND/TEAM SECTION */

#brands {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  
}
.brands__text__p1 {
  text-align: center;
  color: rgb(4, 65, 4);
  font-size: 20x;
  padding-top: 5rem;
  margin-bottom: 0;
}

.brands__title {
  font-size: 40px;
  text-align: center;
  color: rgb(4, 65, 4);
  margin-top: 0;
}

.brands-containers{
  display: grid;
  grid-template-columns: 150px 150px 150px;
  justify-content: space-around;
  padding: 3rem;
}

.brands-details-container {
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  margin: 3rem;
  border-radius: 2rem;
  background: rgb(255, 255, 255);
  text-align: center;
  
}

.brand-logo {
  width: 15rem;
  height: auto;
  padding: 1rem;
  margin-bottom: 0;
  justify-content:center;
}
.brand-name {
  color: black;
  text-align: center;
}

.brand__text__p2 {
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 0;
}

.brand__text__p3 {
  text-align: center;
  font-size: 15px;
  color: rgb(0, 0, 0);
  margin-top: 0;
  margin-bottom: 2rem;
}


/* Partner SECTION */
#partners {
  position: relative;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  
}
.partners__text__p1 {
  text-align: center;
  color: rgb(4, 65, 4);
  font-size: 20x;
  padding-top: 5rem;
  margin-bottom: 0;
}

.partners__title {
  font-size: 40px;
  text-align: center;
  color: rgb(4, 65, 4);
  margin-top: 0;
}
.partners-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
}

.partners-details-container {
  width: 400px;
  height: 400px;
  padding: 1rem;
  border-radius: 2rem;
  background: rgb(255, 255, 255);
  color: black;
  text-align: center;
}

.partner-logo {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 0;
  justify-content:center;
}

/*TEAM SECTION */

#team {
  position: relative;
  background-color: rgb(136, 182, 140);
  height: fit-content;
  
}
.team__text__p1 {
  text-align: center;
  color: rgb(4, 65, 4);
  font-size: 20x;
  padding-top: 5rem;
  margin-bottom: 0;
}

.team__title {
  font-size: 40px;
  text-align: center;
  color: rgb(4, 65, 4);
  margin-top: 0;
}

.team-containers{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem;
  position: relative;
  width: 250px;
  height: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10rem;
}

.team-details-container {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  padding: 1rem;
  margin: 3rem;
  justify-content: center;
  text-align: center;
}

.team-details-container:hover {
  transform: rotateY(180deg)
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgb(172, 43, 43);
  color:black
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: rgb(179, 255, 0);
  color:black;
  transform:rotateY(180deg );
}


.team-img {
  border-radius: 2rem;
  width:100px;
  height: auto;
  padding-top: 3rem;

}

.calling-img {
  border-radius: 2rem;
  width:100%;
  height: auto;
  padding-top: 3rem;

}

.team__text__p2 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.team__text__p3 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(83, 83, 83);
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
  justify-content: center;
}

/* CONTACT */

#contact {
  display: flex;
  background-color: rgb(68, 68, 121);
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  width: 100%;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: table-column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
  color: black;
  font-weight:bold;
}
