
/*---320px — 480px: Mobile devices---*/
@media (min-width: 320px) and (max-width: 480px){
/* NAV BAR*/
header {
    justify-content: right;
  }

  header.sticky {
    padding-top: 5px;
    background-color: white;
    justify-content: space-between;
  }

  .nav-links{
    display: none;
  }
  
  .nav-links2 {
    display: block;
    position: absolute;
    background: rgba(15, 80, 19);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links2 ul {
    padding: 30px;
  }

  .nav-links2 ul li {
    display: block;
    padding: 10px;
  }
  .nav-links2 li a {
    color: white;
    text-decoration:none;
    text-decoration-color: goldenrod;
  }

  .nav-links2 li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: goldenrod;
    
  }

  header.sticky .nav-links2 li a {
    color: white;
  }
  nav .gg-menu {
    display: block;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
    justify-content: right;
  }
  header.sticky .gg-menu {
    display: block;
    color: rgb(0, 0, 0);
  }
  nav .gg-push-chevron-right{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  /* HOME SECTION*/
  .home-details img {
    width: 400px;
  }
  .home-text h1,
  h2 {
    font-size: 20px;
  }

  /* ABOUT SECTION*/
  #about {
    margin: 20px;
  }
  .about-container {
    flex-direction: column;
  }

  .about-pic {
    width: 300px;
    margin: 20px;
  }

  .about__text__p1,
  .about__title,
  .about__text-p2 {
    justify-content: center;
    display: flex;
    margin: 0;
  }

  .about__text__p1 {
    padding-top: 5rem;
  }
  /* SERVICE SECTION*/
  .service-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item{
    font-size: large;
    letter-spacing: 10px;
  }
  /* CONTACTS SECTION*/
  #contact {
    padding: 10px;
  }
  .contact-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "form"
    "info"
    "map";
    padding: 30px;
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .map iframe {
    min-height: 50vh;
  }
}
/*---481px — 768px: iPads, Tablets---*/
@media (min-width: 481px) and (max-width: 768px){
      /* NAV BAR*/
  header {
    justify-content: right;
  }

  header.sticky {
    padding-top: 5px;
    background-color: white;
    justify-content: space-between;
  }

  .nav-links{
    display: none;
  }
  
  .nav-links2 {
    display: block;
    position: absolute;
    background: rgba(15, 80, 19);
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }

  .nav-links2 ul {
    padding: 30px;
  }

  .nav-links2 ul li {
    display: block;
    padding: 10px;
  }
  .nav-links2 li a {
    color: white;
    text-decoration:none;
    text-decoration-color: goldenrod;
  }

  .nav-links2 li a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: goldenrod;
    
  }

  header.sticky .nav-links2 li a {
    color: white;
  }
  nav .gg-menu {
    display: block;
    color: rgb(255, 255, 255);
    margin: 20px;
    font-size: 22px;
    cursor: pointer;
    justify-content: right;
  }
  header.sticky .gg-menu {
    display: block;
    color: rgb(0, 0, 0);
  }
  nav .gg-push-chevron-right{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }

  /* HOME SECTION*/
  .home-details img {
    width: 400px;
  }
  .home-text h1,
  h2 {
    font-size: 20px;
  }

  /* ABOUT SECTION*/
  #about {
    margin: 20px;
  }
  .about-container {
    flex-direction: column;
  }

  .about-pic {
    width: 400px;
    margin: 20px;
  }

  .about__text__p1,
  .about__title,
  .about__text-p2 {
    justify-content: center;
    display: flex;
    margin: 0;
  }

  .about__text__p1 {
    padding-top: 5rem;
  }
  /* SERVICE SECTION*/
  .service-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .item{
    font-size: large;
    letter-spacing: 10px;
  }
  /* CONTACTS SECTION*/
  #contact {
    padding: 10px;
  }
  .contact-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "form"
    "info"
    "map";
    padding: 30px;
  }
  .formBox .row50 {
    display: flex;
    gap: 0;
    flex-direction: column;
  }

  .inputBox {
    width: 100%;
  }

  .map iframe {
    min-height: 50vh;
  }
}
/*---769px — 1024px: Small screens, laptops---*/
@media (min-width: 769px) and (max-width: 1024px){
    /* ABOUT SECTION*/
  #about {
    margin: 20px;
  }
  .about-container {
    flex-direction: column;
  }

  .about-pic {
    width: 400px;
    margin: 20px;
  }

  .about__text__p1,
  .about__title,
  .about__text-p2 {
    justify-content: center;
    display: flex;
    margin: 0;
  }
  }

/*---1025px — 1200px: Desktops, large screens---*/
@media (min-width: 1025px) and (max-width: 1200px){
}
/*---1201px and more —  Extra large screens, TV---*/
@media (min-width: 1201px){
}