.team-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 3rem;
  }
  
  .team-details-container {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 3rem;
    border-radius: 2rem;
    background: rgb(255, 255, 255);
    justify-content: center;
    text-align: center;
    
  }

  /*services*/
#services {
  background-color: rgb(255, 255, 255);
  height:fit-content;
}
.services__title {
  font-size: 30px;
  text-align: center;
  color: rgb(4, 65, 4);
  margin-top: 3rem;
}

.services-containers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 3rem;
}

.service-details-container {
  width: 200px;
  height: 200px;
  background: rgb(165, 207, 161);
  text-align: center;
  font-size: 10px;
  margin: 10px;
}

/* ICONS */

.icon {
  cursor: pointer;
  margin: 3rem;
  height: 3rem;
}
